 /* For id we use # and for class we use . operator */
 #seperatenav{
     padding: 20px;
 }
 #theid{
    color: aqua;
    background-color: aquamarine;
}
/* we can also create these id and class in seperate css file and link the hmtl with rel="stylesheet" ahref="File.html" */
.myid{
    color: blue;
    background-color: coral;
}
.navbar{
    background-color: rgb(255, 255, 255);
    font-size: medium;
    padding: 10ex;
}
.pageindex{
    background-color: aquamarine;
background: url(./assests/images/1233.jpg);
}
.pageabout{
    background-image: url(./assests/images/ca.jpg);
}
.pagecontact{
    background-image: url(./assests/images/ca.jpg);
}